html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: #111827;
  background: #f9fafb;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.video-player {
  width: 100%;
  height: auto;
  display: block;
}
